<div id="<%= dom_id publicacion %>">
  <p>
    <strong>Name:</strong>
    <%= publicacion.name %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= publicacion.date %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= publicacion.title %>
  </p>

  <p>
    <strong>Resume:</strong>
    <%= publicacion.resume %>
  </p>

</div>
